<h1 class="text-center">Are you sure you want to delete the dice game {{ dice.name }}?</h1>


<form method="post" action="{% url 'delete dice game page' dice.pk %}">
    {% csrf_token %}
    {{ form }}

    <button class="btn btn-primary mt-2" type="submit">Delete</button>
    <a class="button edit"
       href="{% url 'all games page' %}">Go back</a>

</form>


{#<form method="post">{% csrf_token %}#}
{#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
{#    {{ form }}#}
{#    <input type="submit" value="Confirm">#}
{#</form>#}