{% extends 'base.html' %}
{% block page_content %}

    <h1 class="text-center">Hello {{ profile.first_name }} {{ profile.last_name }}</h1>

    <form method="post" action="{% url 'profile details page' profile.pk %}">
        {% if profile.picture %}
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.picture }}"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>

        {% endif %}

        <div class="d-flex flex-column">

            <h2 style="color: white"><u>Name:</u> {{ profile.first_name }} {{ profile.last_name }}</h2>
            {#  getter property `fullname` in profile is also fine #}

            {# <h5><u>Birthdate:</u> July 15, 1999</h5>#}
            {% if profile.date_of_birth %}
                <h2 style="color: white"><u>Birthdate:</u> {{ profile.date_of_birth }}</h2>
            {% endif %}
            {% if profile.email %}
                <h2 style="color: white"><u>Email:</u> {{ profile.email }}</h2>
            {% endif %}

            {% if profile.slogan %}
                <h2 style="color: white"><u>Slogan:</u> {{ profile.slogan }}</h2>
            {% endif %}

        </div>

        <div>
            <a href="{% url 'edit profile page' profile.pk %}" class="btn btn-danger">Edit</a>
            <a href="{% url 'profile delete page' profile.pk %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'dashboard' %}" class="btn btn-danger">Go Back</a>

    </form>
{% endblock %}
