{% extends 'base.html' %}
{% block page_content %}
    <!-- clients -->
    <div id="testimonial" class="clients top_layer2 ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>clients says</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="clients_box">
                        <i><img src="/static/images/cli.jpg" alt="#"/></i>
                        <h3>Jone Mark</h3>
                        <span><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, <i
                                class="fa fa-quote-right"></i></span>

                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.
                            Ut enim ad minim
                            <br> veniam, quis nostrud exercitation ullamco laboris ut aliquip ex ea commodo
                            <br>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse </p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- end clients -->

{% endblock %}