<h1 class="text-center">Edit Your Profile</h1>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form method="post" action="{% url 'rules page' %}">
            {{ form }}
            {% csrf_token %}

            {#                        {% if is_owner %}#}
            {#            <div>#}
            {#                <a href="{% url 'edit rule page' %}" class="btn btn-primary">Edit</a>#}
            {#                <a href="{% url 'profile rule page' %}" class="btn btn-danger">Delete</a>#}
            {#                <a href="{% url 'dashboard' %}" class="btn btn-danger">Go Back</a>#}
            {#                            {% endif %}>#}
            {#            </div>#}
        </form>
    </div>
</div>
<div class="col-lg-3"></div>


