{% extends 'base.html' %}
{% block page_content %}

    {% for roulette in roulette_games %}
        <div>
            <h2 style="color: white">Game Name: {{ roulette.name }}</h2>
            <h2 style="color: white">Min Bet: {{ roulette.min_bet }}$</h2>
            <h2 style="color: white">Max Bet: {{ roulette.max_bet }}$</h2>
            <h2 style="color: white">Max Players: {{ roulette.max_players }}</h2>


            {% if roulette.user_id == request.user.id %}
                <a href="{% url 'edit roulette game page' roulette.pk %}">Edit
                    Roulette Game</a>
                <a href="{% url 'delete roulette game page' roulette.pk %}">Delete
                    Roulette Game</a>
                <br>
                <br>
                <br>
            {% endif %}
        </div>
    {% endfor %}


    {% for poker in poker_games %}
        <div>

            <h2 style="color: white">Game Name: {{ poker.name }}</h2>
            <h2 style="color: white">Min Bet: {{ poker.min_bet }}$</h2>
            <h2 style="color: white">Max Bet: {{ poker.max_bet }}$</h2>
            <h2 style="color: white">Max Players: {{ poker.max_players }}</h2>

            {% if poker.user_id == request.user.id %}

                <a href="{% url 'edit poker game page' poker.pk %}">Edit Poker
                    Game</a>
                <a href="{% url 'delete poker game page' poker.pk %}">Delete Poker
                    Game</a>
                <br>
                <br>
                <br>
            {% endif %}
        </div>
    {% endfor %}


    {% for dice in dice_games %}
        <div>
            <h2 style="color: white">Game Name: {{ dice.name }}</h2>
            <h2 style="color: white">Min Bet: {{ dice.min_bet }}$</h2>
            <h2 style="color: white">Max Bet: {{ dice.max_bet }}$</h2>
            <h2 style="color: white">Max Players: {{ dice.max_players }}</h2>

            {% if dice.user_id == request.user.id %}

                <a href="{% url 'edit dice game page' dice.pk %}">Edit Dice Game</a>
                <a href="{% url 'delete dice game page' dice.pk %}">Delete Dice Game</a>
                <br>
                <br>
                <br>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
